*.aux
lphys1213.bcf
lphys1213.fdb_latexmk
lphys1213.fls
lphys1213.idx
lphys1213.ilg
lphys1213.ind
lphys1213.log
lphys1213.out
lphys1213.pdf
lphys1213.run.xml
lphys1213.synctex.gz
lphys1213.toc
Epix/nondivfield.eepic~
Epix/nondivfield.pdf
Epix/nondivfield_c.eepic
Epix/nondivfield_c_xp.log
Epix/nondivfield_xp.log
Epix/test.log
Epix/test.pdf
Epix/test.tex
Python/05_airfoil_without_circulation.pdf
Python/02_ellipse_streamfunction.pdf
Python/.ipynb_checkpoints/05_airfoil_without_circulation-checkpoint.ipynb
.ipynb_checkpoints
Figures/potential_flow_circulation.eepic
Figures/potential_flow_source.eepic
Figures/three_circulation_quivers.pdf
Figures/zero_circulation.pdf
Pdftex/02_ecoulement_libre.pdf
Pdftex/02_ecoulement_libre.pdf_tex
Pdftex/04_aile_avion.pdf
Pdftex/04_aile_avion.pdf_tex
*.eepic
*.eepic_*
*~
lphys1213.bbl
lphys1213.bbl-SAVE-ERROR
lphys1213.bcf-SAVE-ERROR
lphys1213.blg
lphys1213.nlo
*.log
